body {
            display: flex;
            
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 20;
            
        }
form {
            width: 400px;
            background-color: rgba(137, 57, 138, 0.8) ;
            padding: 20px;
            border-radius: 10px;
            text-shadow:#000000;
            
            border-color: rgb(89, 7, 89);
            box-shadow: #010000;

        }
        fieldset {
           
            border:outset 3px rgb(87, 10, 62);
            border-radius:  5px;
            border-color: outset;

            padding: 10px;
            margin: 0;
        }
        legend {
            font-weight: bold;
            color: rgb(0, 0, 0);
            margin-bottom: 10px;
        }
        label {
            display: block;
            color:#160116;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        input[type="date"] {
            width: calc(100% - 20px);
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: #000000;
           
            border: 2px solid #150202;
            border-radius: 4px;
        }
        .gender-group {
            margin-bottom: 10px;
        }
        .gender-group label {
            display: inline-block;
            margin-left: 10px;
        }
        input[type="radio"] {
            margin-left: 10px;
            background-color: #0b0404;
            vertical-align: middle;
        }
        input[type="submit"] {
            padding: 10px 20px;
                
            background-color: rgba(56, 5, 42, 0.8);
            border:outset 3px rgb(0, 0, 0);
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: rgb(113, 5, 102);
        }

        input[type="radio"]:hover {
            background-color: rgb(60, 5, 5);

        }

        input[type="name"],
        input[type="email"],
        textarea,
        input[type="address"]{
            background-color: #210808;
            
        }
         

        body{
            background-color: rgb(72, 13, 71);
        }