.navi{
    display: flex;
    justify-content: flex-start;
    
    text-align: left;
    align-items: flex-end;
    font-style: italic;
    background: linear-gradient(to left, red, blue);

    
    padding: 2px;
    gap: 10px;
    list-style: none;
    margin: 0;
    text-shadow: black 5px 5px ;
    


}
    


.navi.li:hover{
    
    color: rgb(26, 172, 13);
    



}
.content{
    font-style: italic;
    font-size: 20px;
    margin:20px;
    
}
image.ima{
    display: block;
    border-radius: 10px;
    
    width: 50%;
   



}
#key{
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    filter: drop-shadow(10px 10px 1px green);
}

.bg{
    background-color: rgba(162, 189, 205, 0.618);
    font-family: Arial;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px;
}

.d{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    
}
.img1{
    display: block;
    border-radius: 10px;
    align-items: end;
    
    width: 50%;
}

    



a{
width: 150px;
height:150px;
background-color: red;
transition: background-color 5s;
}
a:hover{
background-color: green;
}



.important {
    color: orange;
}
.warning {
    color: blue;
    opacity: 0.5;
}
.warning.important {
    color: red;
}
#aj{
    border-style:outset;
    border-color:top red;
    



}
mark{
     text-transform: capitalize;
     letter-spacing: -1px;
     text-decoration: overline red;


}

input[type=text] {
font-size: 1rem;
padding: 0.5em;
}
.bg::first-letter{
 color:black
}

#ajay{
     display : inline-block;
    background : lightblue;
    padding:10px;
    border-width:2px;
    border-color:black;
    border-style:solid;
}

.container .item1 {
  grid-column: 1;
  grid-row: 1;
}
.container .item2 {
  grid-column: 2;
  grid-row: 1;
}
.container .item3 {
  grid-column: 1;
  grid-row: 2;
}
.container .item4 {
  grid-column: 2;
grid-row: 2;
}
table{
    border-collapse: separate;
    border-spacing: 10px;
}

.RainbowBackground {
animation: rainbow-background 5s infinite;
}
.rotate {
width: 100px;
height: 100px;
background: teal;
transform:  rotate(15deg) translateX(200px);
}

body{
    cursor: value;
}

.box_shadow {
width: 100px;
height: 100px;
margin: 100px;
box-shadow:-52px -52px 0px 0px #f65314,
52px -52px 0px 0px #7cbb00,-52px 52px 0px 0px #00a1f1,
52px 52px 0px 0px #ffbb00;
}