.bg{
    background-color:rgba(69, 38, 38, 0.8);
    background-size: cover;
    background-attachment: fixed;

    
    
}
img{
    width: 30rem;
    height:30rem;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);

}
a[href]{
    color: rgb(151, 11, 11);
    margin:20px;
    font-family: "times new roman", serif;
    text-decoration:underline;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);

}
a[href]:hover{
    color:black;
    text-decoration: solid;

}
a[href]:visited{
    color:rgb(22, 13, 13);
    text-decoration:underline;
}

.content{
    color:rgb(151, 11, 11);
    font-family: "times new roman", serif;
    font-size: 1.2rem;
    margin:20px;
    text-align: justify;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.content1{
    color:rgb(151, 11, 11);
    font-family: "times new roman", serif;
    font-size: 1.2rem;
    margin:20px;
    text-align: justify;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

section{
    color:rgb(151, 11, 11);
    font-family: "times new roman", serif;
    font-size: 1.5rem;
    margin:20px;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.box{
    border: 2px solid rgb(151, 11, 11);
    border-collapse: outset;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color:rgb(151, 11, 11);
    font-family: "times new roman", serif;
    
}
.box caption:hover{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgba(14, 9, 9, 0.5);
    
}

.container2{
    color:rgb(151, 11, 11);
    font-family: "times new roman", serif;
    font-size: 1.2rem;
    margin:20px;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}